<%= cloudinary_js_config %>
<%= simple_form_for(@post) do |f| %>
<%= f.error_notification %>
<div class="form-inputs">

	<%= f.input :title, label: 'عنوان' %>
	<%= f.file_field :picture %>
	<%= f.cktext_area :body, :ckeditor => {:language => "fa"} %>

</div>
<br />
<%= f.button :submit, 'ذخیره', class: 'btn tiny btn-primary' %>
<% end %>
