<%= render 'layouts/navigation' %>
<div class="row post">
  <div id="post-body">
    <h4> <%= @post.title %> </h4>
    <span id="post-detail"><%= JalaliDate.to_jalali(@post.created_at).strftime("%d %B %Y") %></span>
    <%= raw @post.body %>
    <% if user_signed_in? %>
        <% if current_user.has_role? :admin %>
            <%= link_to 'ویرایش', edit_post_path(@post) %>
            |
        <% end %>
    <% end %>

    <%= link_to 'بازگشت', posts_path %>
  </div>
</div>