<%= render 'layouts/navigation' %>
<% title @post.title %>
<div class="row post">
  <div id="post-body">
    <h4> <%= @post.title %> </h4>
    <i class="fa fa-calendar" ></i>
    <span id="post-detail"><%= JalaliDate.to_jalali(@post.created_at).strftime("%d %B %Y") %></span>
    <hr>
    <%= raw @post.body %>
    <% if user_signed_in? %>
        <% if current_user.has_role? :admin %>
            <%= link_to 'ویرایش', edit_post_path(@post), class: 'button btn tiny btn-primary' %>
        <% end %>
    <% end %>

    <%= link_to 'بازگشت', posts_path, class: 'button btn tiny btn-primary' %>
  </div>
  <%= render 'disqus/thread' %>
</div>
