= render 'layouts/navigation'
.row.post
  #post-body
    %article
      %h1= @article.title
      = render partial: "meta", locals: { article: @article }
      %hr
      = preserve_markdown((@article.content).gsub(/<!--more-->/, ''))
      = render 'disqus/article'
      %hr
      %p.action= link_to "بازگشت", blog_articles_path
