<!DOCTYPE html>
<html dir="rtl">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="طراحی و توسعه وب سایت و وب اپلیکیشن با استفاده روبی ان ریلز، جاوا اسکریپت."/>
  <meta name="keywords" content="طراحی و برنامه نویسی وب,وب اپلیکیشن, Web Application,Ruby on Rails,Jquery,HTML,CSS,XML,JavaScript"/>
  <meta name="author" content="Abolfazl Mahmoodi"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= content_for?(:title) ? yield(:title) : "طراحی و توسعه وب" %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= javascript_include_tag "application" %>
<%= yield %>

<div style="display: none;">
  <script type="text/javascript" language="javascript" src="http://www.webgozar.ir/c.aspx?Code=3243379&amp;t=counter" ></script>
  <noscript><a href="http://www.webgozar.com/counter/stats.aspx?code=3243379" target="_blank">&#1570;&#1605;&#1575;&#1585;</a></noscript>
</div>

</body>
</html>